/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Special+Elite");

body {
  margin: 0;
  background-color: #242424;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-weight: 600;
  font-size: 14px;
  color: whitesmoke;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 5%;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  height: 60px;
  width: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #f3bd27;
}

button {
  padding: 9px 25px;
  background-color: rgb(0, 136, 169);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: transparent;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.75);
}

.order {
  padding-left: 50px;
}

.hero_image {
  background-image: url(/images/hero.jpg);
  background-repeat: none;
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.hero_text {
  text-align: left;
  position: absolute;
  left: 5%;
  top: 65%;
  color: white;
}

.hero_text h1 {
  font-size: 80px;
  font: 900;
}

.hero_text p {
  font-size: 25px;
  font: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.hero_text button {
  margin-left: 10px;
  font: 400;
}
.block {
  color: whitesmoke;
  text-align: center;
  background: #212121;
  margin: 40px 20px 20px 20px;
  padding: 20px;
  width: 30%;
  height: 50vh;
  float: left;
  border-radius: 20px;
}

.block img {
  border-radius: 15px;
  width: 80%;
  height: auto;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.block img:hover {
  opacity: 0.4;
  border-radius: 15px;
  width: 80%;
  height: auto;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 450px;
  height: 300px;
  border-radius: 10px;
}

h3 {
  font: 900;
  font-size: 50px;
  text-align: center;
  margin: 30px;
  color: whitesmoke;
}

.text_box1 img {
  float: left;
  width: 45%;
  border-radius: 10px;
  margin: 40px;
  -webkit-box-shadow: -15px 17px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 17px 21px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 17px 21px -6px rgba(0, 0, 0, 0.75);
  display: flex;

  align-items: center;
}

.text_box2 img {
  float: right;
  width: 45%;
  border-radius: 10px;
  margin: 40px;
  -webkit-box-shadow: 22px 22px 21px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 22px 22px 21px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 22px 22px 21px -6px rgba(0, 0, 0, 0.75);
}

.text_box1 p {
  color: whitesmoke;
  font-size: 3vw;
  padding-top: 70px;
}

.text_box2 p {
  color: whitesmoke;
}

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* The footer is fixed to the bottom of the page */

footer {
  position: relative;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer-distributed {
  font-family: "Lato", sans-serif;
  background-color: #191919;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 40px 50px 30px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: whitesmoke;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: whitesmoke;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: whitesmoke;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: whitesmoke;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f3bd27;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  border-radius: 2px;

  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

blockquote {
  font-family: "Special Elite", cursive;
  color: whitesmoke;
  font-weight: 100;
  font-size: 2vw;
  max-width: 600px;
  line-height: 1.4;
  position: relative;
  margin: 100px;
  padding: 0.5rem;
  float: right;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #f1efe6;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

blockquote:after {
  content: "”";
  right: -5rem;
  bottom: 1rem;
}
